body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    background-color: #3498DB;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

header {
    background-color: #3498DB;
    color: white;
    padding: 100px 0;
    text-align: center;
}

section {
    padding: 50px 0;
    text-align: center;
}

.gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.item {
    width: 30%;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #F39C12;
    color: white;
}

form {
    width: 50%;
    margin: auto;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
}

button {
    background-color: #3498DB;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}